body {
    background: #F7F7F7;
}

#main {
    margin-top: -1px;
    overflow: hidden;
}

.judul {
    margin-bottom: 50px;
    text-align: center;
}

.flexslider {
    background: #F7F7F7;
    border: 0px !important;
}

.flex-caption {
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: lightblue;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
}

.judul h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

/*Custom Navbar*/
.navbar-light {
    background: white !important;
    border-bottom: 1px solid purple;
    box-shadow: 1px 1px 1px grey;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-family: ubuntu;
    font-size: 18px;
    text-align: center;
    margin: 5px;
}

.navbar-light ul a:hover {
    color: purple !important;
}

.navbar-light li>a:after {
    content: '';
    display: block;
    height: 1.5px;
    background: purple;
    transform: scaleX(0);
    transition: transform .3s;
}

.navbar-light li>a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;
}

.navbar-light .active {
    color: purple !important;
}

/*Tutup */


/*atur jarak*/
.jarak-content {
    margin-top: 5%;
    margin-bottom: 5%;
}

.jarak-section {
    margin-bottom: 3%;
}

.jarak-event {
    margin-top: 3%;
    margin-bottom: 5%;
}

.jarak-mb5 {
    margin-bottom: 5%;
}
.jarak-nav{
    margin-top: 5.7%;
}

/*Tutup Jarak*/


/*Scroll On top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #6553A2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

/*Tutup scroll*/

.text-putih {
    color: white;
}

footer {
    background: #2E3739;
    border-top: 1px solid purple;
}

footer h6 {
    font-weight: bold;
    margin-top: 5%;
}

footer hr {
    background-color: white;
    width: 150px;
    margin-left: 0px;
}

footer p {
    font-size: 15px;
    color: white;
}


/*.owl-theme .owl-nav {
  margin-top: 20px !important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  padding: 0px 20px 0px 20px !important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  font-size: 40px !important;
  font-weight: bold;
}*/
.bungkus-tgl {
    position: relative;
    border: 1px solid black;
}

.bungkus-tgl a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.bungkus-tgl .active {
    text-decoration: none;
    color: #D5347D;
    font-size: 30px;
}

a.card-link,
a.card-link:hover {
    color: inherit;
    text-decoration: none;
}

.card-event .card:hover {
    box-shadow: -0.1px 3px 1px 1px #dcdde1;
    transition: 0.3s;
}

.card-kuliner .card:hover {
    box-shadow: 1px 1px 1px grey;
}

.card-kuliner .card-img-top {
    max-width: 100% !important;
    height: 230px !important;
}

.text-custom {
    color: #D5347D;
}

.pagination .page-item .page-link {
    color: #6553A2;
}

.page-item.active .page-link {
    background-color: #6553A2;
    color: white;
}

.bungkus-tgl {
    padding: 10px;
}

.bungkus-tgl .owl-theme .owl-nav {
    margin-top: -20px !important;
}

.bungkus-tgl .owl-theme .owl-nav .owl-prev span {
    position: absolute;
    top: -70% !important;
    left: 0%;
    color: #D5347D;
    font-size: 400%;
}

.bungkus-tgl .owl-theme .owl-nav .owl-next span {
    position: absolute;
    top: -70% !important;
    right: 0%;
    color: #D5347D;
    font-size: 400%;
}

.bungkus-slider .owl-theme {
    position: relative;
}

.bungkus-slider .owl-theme .owl-nav .owl-prev span {
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    font-size: 900%;
    opacity: 0.5;
}

.bungkus-slider .owl-theme .owl-nav .owl-next span {
    position: absolute;
    top: 30%;
    right: 5%;
    color: white;
    font-size: 900%;
    opacity: 0.5;
}

.bungkus-slider .carousel-caption {
    color: black;
}

/*.bg-wisata{
  background: #f8f9fa;
}
.bungkus-wisata .owl-theme .owl-dots .owl-dot{
  margin-top: 2%;
}
.bungkus-wisata .owl-theme .owl-dots .owl-dot span{
    background: white!important;
}
.bungkus-wisata .owl-theme .owl-dots .owl-dot.active span, .bungkus-wisata .owl-theme .owl-dots .owl-dot:hover span{
  background: salmon !important;
}
*/

/*Manggil destinasi wisata*/
.gallery-block.destinasi-wisata h6 {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block.destinasi-wisata .card {
    transition: 0.4s ease;
}

.gallery-block.destinasi-wisata .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.destinasi-wisata .card-body p {
    font-size: 15px;
}

.gallery-block.destinasi-wisata a {
    color: #212529;
}

.gallery-block.destinasi-wisata a:hover {
    text-decoration: none;
}

.gallery-block.destinasi-wisata .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.card-footer {
    padding: 0;
}

.book-now {
    border: transparent;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #6553A2, #D5347D);
    color: white !important;
    font-weight: bold;
    line-height: 50px;
}

.foto-paket img {
    height: 238px;
    width: 100%;
}

@media (min-width: 576px) {

    .gallery-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}

/*tutup destinasi wisata*/

/*Kuliner Khas Jember*/
.gallery-block.compact-gallery .item {
    overflow: hidden;
    margin-bottom: 0;
    background: black;
    opacity: 1;
}

.gallery-block.compact-gallery .item .image {
    transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info {
    position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description {
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading {
    font-size: 1em;
    font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body {
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
}

@media (min-width: 576px) {

    .gallery-block.compact-gallery .item .description {
        opacity: 0;
    }

    .gallery-block.compact-gallery .item a:hover .description {
        opacity: 1;
    }

    .gallery-block .zoom-on-hover:hover .image {
        transform: scale(1.3);
        opacity: 0.7;
    }
}

/*Tutup Khas Jember*/


.container-gambar {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: black;
    color: white;
    opacity: 0.5;
    padding-top: 2%;
    padding-left: 20%;
}

.gallery-detail img {
    margin-bottom: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.isi-artikel {
    color: #636363;
    font-size: 15px;
    font-family: ubuntu;
}

.cust1 .jumbotron {
    background: linear-gradient(90deg, #6553A2, #D5347D);
    background-attachment: fixed;
    position: relative;
}

.sosmed {
    width: 100%;
    height: 50px;
    background: #2c2c54;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.btn-custom {
    color: #6553A2;
    background-color: #F7F7F7;
    border-color: #6553A2;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus,
.btn-custom.active {
    background: #6553A2;
    color: #F7F7F7;
    border-color: #6553A2;

}


/*MEMBUAT NAVIGASI DI DALAM GAMBAR KULINER DAN WISATA*/
.navigasi {
    bottom: 0;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -o-transform: translateX(50%);
    -moz-transform: translateX(50%);
    position: absolute;
    height: 100px;
}

.nav-custActive {
    padding: 10px 5px;
    min-width: 200px;
    max-height: 37px;
    text-align: center;
    color: white;
    cursor: pointer;
    ;
    display: inline-block;
    border-top: 3px solid white;
}

.navigasi a {
    text-decoration: none;
}

.navigasi a:hover {
    color: white;
}

.nav-cust {
    padding: 10px 5px;
    min-width: 200px;
    max-height: 37px;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.21);
}

/*TUTUP NAVIGASI*/

/*Pagination*/
.list {
    margin: 0;
    padding: 0;
}

.list li {
    float: left;
    list-style-type: none;
}

.list li a {
    display: block;
}

.page {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page:hover {
    background-color: gray;
}

/*tutup paginationn*/
.nav-tabs {
    border-bottom: 1px solid gray;
}

.nav-tabs .nav-link {
    font-size: 20px;
    color: black;
    border: 0px;
    border-bottom: 1px solid gray;
    font-weight: bold;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #f7f7f7 !important;
    color: purple;
    border-bottom: 1px solid purple;

}

.artikel img {
    float: left;
    max-width: 100% !important;
    height: 230px !important;
}

/*STAR RATING*/
.rate {
    display: inline-block;
}

.star input {
    display: none;
}

.star label {
    float: right;
    margin-right: 5px;
    font-size: 0;
    color: #d9d9d9;
}

.star label:before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 30px;
    margin: 3px;
}

.star label:hover,
.star label:hover~label {
    color: #fcd000;
    transition: 0.2s;
}

.star input:checked~label {
    color: #f1c40f;
}

.star input:checked~label:hover,
input:checked~label:hover~label {
    color: #fcd000;
    transition: 0.2s;
}

/*TUTUp*/
.md3-img {
    width: 90px;
    height: 60px;
}

.img-wisatapilihan {
    width: 100%;
    height: 230px;
}

.paket-wisata a {
    text-decoration: none;
    color: black;
}

.banner-img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 20%;
    margin-left: 35%;
    margin-top: 10%;
    border: 2px solid white;
    background-color: transparent;
    text-shadow: 3px 3px 3px black;

}
.banner-img p{
    text-align: center;
    color: white;
    margin: 5%;
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
}
.img-event{
    width: 100%;
    height: 300px;
}
.img-eventBest1{
    width: 100%;
    height: 550px;
}
.img-eventBest2{
    width: 100%;
    height: 263px;
}
.img-eventBest3{
    width: 100%;
    height: 262px;
}
.relatif{
    position: relative;
}
.banner-event{
    position: absolute;
    top: 0;
    background-color: black;
    margin-top: 30px;
    width: 200px;
}
.banner-event2{
    position: absolute;
    top: 0;
    background-color: black;
    margin-top: 30px;
    width: 150px;
}

